<div class="container">
    <div class="instructions" style="right: 0;">
        يمكنك إضافة إجازتك للقران لهذا المشروع عن طريق: <br />
        <ol style="padding: 10px 20px 0 0;">
            <li>اختيار أخفض فرع تحت الراوي</li>
            <li>انقر على أضف تلميذا ثم املأ البيانات</li>
            <li>انقر على ارفع البيانات بعد التأكد من صحتها</li>
            <li>سيظهر رابط بطلبك، وسيتم مراجعته ثم نشره خلال 3 ايام عمل ان شاء الله</li>
        </ol>
    </div>

    <div class="instructions" style="right: 360px;">
        مفتاح الشجرة:
        <table>
            <tr>
                <td>
                    <div class="wahi">كل متصل بوحي</div>
                </td>
                <td>
                    <div class="qari7">القرّاء السبعة</div>

                </td>
            </tr>
            <tr>
                <td>
                    <div class="sahabi">صحابي</div>
                </td>
                <td>
                    <div class="qari10">تتمة القرّاء العشرة</div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="tabei">تابعي</div>
                </td>
                <td>
                    <div class="rawi">راوي</div>
                </td>
            </tr>
        </table>
    </div>

    <ngx-treant-chart
        *ngIf="displayChart"
        [chartId]="basicPopoverId"
        [chartClass]="basicPopoverClass"
        [data]="basicPopoverData"
        [isDraggable]="false"
        [popoverSettings]="popoverSettings"
        [mouseleaveMilliseconds]="300"
        (clicked)="onClick($event)"
        (hovered)="onHover($event)"
        (loadedNodes)="onLoadNodes($event)"
        (loadedTree)="onLoadTree($event)"
        (loadedTreant)="onLoadTreant($event)"
    >
    </ngx-treant-chart>

    <button type="button" class="upload-button" *ngIf="uploadable" aria-label="Upload" (click)="upload()">
        <span>ارفع البيانات</span>
    </button>
    

</div>

<ng-template #template>
    <div class="modal-header">
        <h4 class="modal-title pull-left">أضف تلميذا</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="name">الاسم (اجباري)</label>
                <input
                    type="text"
                    class="form-control"
                    id="name"
                    formControlName="name"
                    placeholder="أدخل الاسم كما في الإجازة"
                />
            </div>
            <div class="form-group">
                <label for="title">المسمى الوظيفي</label>
                <input
                    type="text"
                    class="form-control"
                    id="title"
                    formControlName="title"
                    placeholder="أدخل المسمى الوظيفي"
                />
            </div>
            <div class="form-group">
                <label for="contact">العنوان</label>
                <input
                    type="text"
                    class="form-control"
                    id="contact"
                    formControlName="contact"
                    placeholder="أدخل العنوان الاكتروني (ايميل)"
                />
            </div>
            <div class="form-group">
                <label for="image">صورة الإجازة</label>
                <input
                    type="text"
                    class="form-control"
                    id="image"
                    formControlName="image"
                    placeholder="أدخل رابط صورة الإجازة مثلا: http://gallary/imgs/malory.png"
                />
            </div>
            <button type="submit" class="btn btn-primary" [disabled]="!f.name.value">أضف</button>
        </form>
    </div>
</ng-template>
