body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
textarea,
p,
blockquote,
th,
td {
    margin: 0;
    padding: 0;
    direction: rtl;
    font-family: 'Amiri';
    font-size: 16px;
}
.container {
    max-width: 100%;
}
label {
    float: inline-start;
}
.modal-header .close {
    margin: -1rem auto -1rem -1rem;
}
.instructions {
    display: block;
    text-align: right;
    width: 326px;
    background-color: cornsilk;
    padding: 25px;
    margin: 25px;
    position: absolute;
    border-radius: 10px;
}
.instructions > table{
    width: 100%;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 5px;
}
.instructions td {
    text-align: center; 
    vertical-align: middle;
    border: solid grey 1px;
    border-radius: 5px;
}
.instructions td > div {
    border-radius: 5px;
}
fieldset,
img {
    border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var {
    font-style: normal;
    font-weight: normal;
}
caption,
th {
    text-align: right;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    font-size: 100%;
    font-weight: normal;
}
q:before,
q:after {
    content: '';
}
abbr,
acronym {
    border: 0;
}

body {
    background: #fff;
}
/* optional Container STYLES */
.basic-popover-chart {
    margin: 5px;
    width: 1650px;
}

/* optional Container STYLES */
.chart {
    margin: 5px;
    width: 1860px;
}
.Treant > .node {
    padding: 3px;
    border: 1px solid #484848;
    border-radius: 3px;
    background-color: #fff;
}
.Treant > .node img {
    width: 30px;
    height: 30px;
    float: right;
}

.Treant .collapse-switch {
    width: 100%;
    height: 100%;
    border: none;
}
.Treant .node.collapsed {
    background-color: #def82d !important;
}
.Treant .node.collapsed .collapse-switch {
    background: none;
}

.wahi {
    background-color: #96f794 !important;
}
.sahabi {
    background-color: #baffc1 !important;
}
.tabei {
    background-color: #f7ffba !important;
}
.qari7 {
    background-color: #a8d5f7 !important;
}
.qari10 {
    background-color: #c4e6ff !important;
}
.rawi {
    background-color: #f7e1e5 !important;
}

.Treant > p {
    font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial,
        'Lucida Grande', sans-serif;
    font-weight: bold;
    font-size: 12px;
}

.popover {
    cursor: pointer;
    min-width: 200px;
    min-height: 100px;
}

.popover-title {
    white-space: nowrap;
    font-size: 0.8em;
}

.popover-content,
.btn {
    z-index: 9999;
    text-align: center;
    min-width: 75px;
}

.upload-button {
    position:fixed;
    right:20px;
    bottom:20px;
    font-size: large;
    padding: 15px;
    background: #007BFF;
    border-radius: 10px;
    border: 1px solid transparent;
    box-shadow: 3px 6px 12px -2px black;
}
.upload-button:hover{
    border: 1px solid black;

}